@model IEnumerable<Project.Models.Mascota>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrNombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrEdad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrUbicacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrRaza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrTipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdPersona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrEdad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrUbicacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrRaza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrTipo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdPersona)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdMascota">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdMascota">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdMascota">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
