@model IEnumerable<Project.Models.ChatDetalle>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DtUltima)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EnmEscribiendo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IntIdPersona)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DtUltima)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EnmEscribiendo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IntIdPersona)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdChatDetalle">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdChatDetalle">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdChatDetalle">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
