@model IEnumerable<Project.Models.Persona>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StrNombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrCelular)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StrClave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StrNombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrCelular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrClave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IntIdPersona">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IntIdPersona">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IntIdPersona">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
